*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}


.login-body
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-header
{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;

}